/* -----------------------------------------------------

Add here all your CSS customizations 

Note: IE9 doesn't support transitions and animations

-------------------------------------------------------*/

@import 'css/font.css';


html, body {
    font-family: "Gotham Book";
    font-size: 17px;
}


/* =================================

            HEADER AREA

================================= */

#cd-top-nav ul li a {
    font-size: 20px;
}
#cd-top-nav ul li a i{
    padding-right: 5px;
}


/* ================================

           CUSTOM MENU

================================= */

ul.nav-menu {
    background-color: rgba(255, 255, 255, 1);
    top:30px;
    padding: 5px 15px;
}

ul.nav-menu {
    margin: 0;
}

ul.nav-menu  li {
    display: inline-block;
    padding: 0 15px;
}

ul.nav-menu li:first-child {
    padding: 0 15px 0 0;
}

ul.nav-menu li:last-child {
    padding: 0 0 0 15px;
}

ul.nav-menu li a {
    color: rgba(7, 16, 54, 0.8);
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
}


/* ================================

           CUSTOMS

================================= */


.heading-xlg h1 span{
    padding-left: 0px;
}


/* ================================

           Scroll to top

================================= */

.scrolltotop {
    padding-top: 15px;
    color: rgba(7, 16, 54, 0.82);
}

.scrolltotop:hover {
    color: rgba(7, 16, 54, 1);
}


/* ================================

            WHAT WE DO

================================= */

.work .info-box{
    margin: 20px 0;
}

.info-box-wrapper .fa {
    padding-top: 22px;
}

.info-box-info {
    padding: 0 20px 0 0;
}

.work .cover {
    background-color: rgba(0, 80, 255, 0.6);
}


/* ================================

            TOURNAMENTS

================================= */

.tournaments .col-inner {
    border-right: 1px solid rgba(5, 16, 54, 0.85);
}

.tournaments .info-box-wrapper .fa {
    padding-top: 20px;
}

.tournaments .info-box-info {
    padding: 0 20px 0 0;
}

.tournaments .info-box-icon {
    color: rgba(7, 16, 54, 0.82);
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 50%;
    box-shadow: inset 0px 0px rgba(7, 16, 54, 0.82);;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.tournaments .info-box:hover .info-box-icon {
    box-shadow: inset 0px -75px rgba(7, 16, 54, 0.82);
    color: rgba(255, 255, 255, 0.82);
}

.tournaments .info-box-heading h3 {
    color: rgba(7, 16, 54, 0.82);
}

.tournaments .info-box-heading .divider {
    background-color: rgba(7, 16, 54, 0.82);
}

@media (max-width: 768px) {
    .info-box-heading h3 {font-size: 17px}

    .heading-xlg h1 {
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    .info-box-heading h3 {font-size: 18px}

    .heading-xlg h1 {
        font-size: 30px;
    }
}
@media (max-width: 1200px) {
    .info-box-heading h3 {font-size: 19px}

    .heading-xlg h1 {
        font-size: 40px;
    }
}
@media (max-width: 1440px) {
    .info-box-heading h3 {font-size: 20px}

    .heading-xlg h1 {
        font-size: 50px;
    }
}